<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682984058655-o7gtjcim5gr9k24lfuaf4csc1idsamfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682984058655-o7gtjcim5gr9k24lfuaf4csc1idsamfq</string>
	<key>API_KEY</key>
	<string>AIzaSyDHLSzJKU9_xUezPLtLE9IY6NPTz-BcUjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>682984058655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoMobileSoftware</string>
	<key>PROJECT_ID</key>
	<string>gimiauto-af32b</string>
	<key>STORAGE_BUCKET</key>
	<string>gimiauto-af32b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682984058655:ios:f497dcb611a0571a9e0a2a</string>
</dict>
</plist>